@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('add-parceiros.css');
@import url('login.css');
@import url('MenuLateral.css');
@import url('MenuLateralResponsive.css');
@import url('area-de-trabalho-mentor.css');
@import url('card-parceiro.css');
@import url('MenuLateralResponsive.css');
@import url('login.css');
@import url('area-trabalho-adm.css');
@import url('crud-mentores\ copy.css');



:root {
    --cor-Amarelo: #FFE000;
    --cor-Rosa: #C62F7C;
    --cor-Verde: #86AC18;
    --cor-fundo-claro: #E6EFFF;
    --cor-fundo-escuro: #2F3C54;
    --cor-botao: #2F3C54;
    --cor-preto: #282829;
    --cor-branco: #FFFFFF;
    --cor-botao-vermelho: #DA0000;
    --cor-placeholder: #B1B5BB;
    --cor-borda-placeholder: #2B75BF;
    --cor-link: #0B57D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', poppins;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--cor-fundo-escuro); */
}
